<main class="min-h-screen flex flex-col justify-around items-center px-4 py-8">
    <div class="flex flex-col items-center text-center gap-6">
      <div class="flex flex-col items-center gap-3">
        <img class="h-20 w-20" src="/PNG-LOGO.png" alt="LOGO NEGRO">
        <h1 class="text-texto font-bold text-2xl sm:text-3xl md:text-4xl lg:text-5xl">
          Estudio Jurídico Rodriguez y Asociados
        </h1>
        <h2 class="text-texto text-lg font-medium sm:text-xl md:text-2xl lg:text-3xl">
          Especialistas en accidentes y enfermedades laborales, despidos, accidentes de transito, <br> derecho penal
        </h2>
      </div>
  
      <div class="mt-6 p-2 flex flex-col items-center">
        <a href="https://wa.link/g1qbfy" target="_blank" class="px-4 py-2 rounded-xl text-3xl border-2 bg-naranja  text-background font-bold hover:bg-background hover:border-[2px] hover:text-texto active:translate-x-[3px] active:translate-y-[3px] active:shadow-none cursor-pointer">
          <i class="fab fa-whatsapp text-2xl mr-0.5 text-center text-[green]"></i>
            CONSULTANOS
          </a>
          
<!--         <p class="text-sm text-gray-600 mt-2">Respondemos en menos de 24hs</p> -->
      </div>
    </div>
  
    <div class="flex flex-col lg:flex-row justify-evenly items-center w-full gap-6 mt-10 text-center">
      <p class="max-w-[90%] lg:max-w-[20%] text-texto text-xl lg:text-2xl lg:font-bold">
        <strong>SOMOS LO MÁS EFICACES CUANDO HABLAMOS DE</strong>
      </p>
    <!-- Ícono solo para desktop -->
    <div class="hidden lg:block">
        <i class="fas fa-arrow-right text-texto text-4xl"></i>
    </div>
    <!-- Ícono solo para mobile -->
    <div class="block lg:hidden">
        <i class="fas fa-arrow-down text-texto text-4xl"></i>
    </div>
    <p class="text-texto text-2xl font-bold">
        <span id="texto-dinamico">ASESORARTE. FIJAR ESTRATEGIAS. <br> ALCANZAR LOS OBJETIVOS BUSCADOS</span>
      </p>
    </div>
  </main>
  