<section class="w-full border-t border-texto py-4 px-6 mb-20">
  <!-- Título -->
  <div class="flex flex-col justify-center items-center gap-4 px-5 py-6">
    <h2
      class="text-texto font-bold text-2xl sm:text-3xl md:text-4xl lg:text-5xl pt-5 tracking-wider"
    >
      Nuestros Servicios
    </h2>
    <hr
      class="border-t-2 border-texto w-15 sm:w-25 md:w-35 lg:w-45 mx-auto mb-4"
    />
  </div>

  <!-- Grid de tarjetas -->
  <div class="max-w-7xl mx-auto px-4 mt-10 grid grid-cols-1 gap-16">
    <!-- TARJETA 1 -->
    <div
      class="w-full rounded-xl bg-textonav border-[3px] border-black shadow-[12px_12px_0_#000] transition-all duration-300 hover:-translate-y-[6px] overflow-hidden"
    >
      <div
        class="flex flex-col md:flex-row items-center justify-between gap-6 px-6 py-6"
      >
        <h3
          class="text-texto font-bold text-xl md:w-1/3 uppercase text-center md:text-left"
        >
          Accidentes Laborales
        </h3>
        <div class="md:w-1/3 flex justify-center">
          <i class="fas fa-car-burst text-9xl text-texto text-center"></i>
        </div>
        <div class="md:w-1/3 flex justify-center md:justify-end w-full">
          <details
            class="w-full bg-textonav text-texto p-4 rounded"
            x-data="{ open: false }"
            @toggle="open = !open"
          >
            <summary
              class="cursor-pointer w-full px-4 py-2 text-center border-[3px] border-black bg-naranja text-textonav font-bold shadow-[3px_3px_0_#000] transition-all duration-300 hover:translate-x-[1.5px] hover:translate-y-[1.5px] hover:shadow-[1.5px_1.5px_0_#000] hover:bg-background hover:text-texto active:translate-x-[3px] active:translate-y-[3px] active:shadow-none uppercase"
            >
              Saber más
            </summary>
            <div class="mt-4 text-sm leading-relaxed space-y-4">
              <div
                x-data="{ open1: false, open2: false, open3: false, open4: false }"
                class="space-y-2"
              >
                <div>
                  <button
                    @click="open1 = !open1"
                    class="flex justify-between items-center w-full text-left font-semibold bg-textonav text-texto text-xl"
                  >
                    <span>¿Qué hacer después de un accidente?</span>
                    <span x-text="open1 ? '-' : '+'"></span>
                  </button>
                  <div x-show="open1" x-transition class="mt-2 text-lg">
                    Contactanos de inmediato y reuní documentación.
                  </div>
                </div>
                <div>
                  <button
                    @click="open2 = !open2"
                    class="flex justify-between items-center w-full text-left font-semibold bg-textonav text-texto text-xl"
                  >
                    <span>¿Qué es un accidente in-itinere?</span>
                    <span x-text="open2 ? '-' : '+'"></span>
                  </button>
                  <div x-show="open2" x-transition class="mt-2 text-lg">
                    Es el que ocurre yendo al trabajo o volviendo.
                  </div>
                </div>
                <div>
                  <button
                    @click="open3 = !open3"
                    class="flex justify-between items-center w-full text-left font-semibold bg-textonav text-texto text-xl"
                  >
                    <span>¿La ART debe responder?</span>
                    <span x-text="open3 ? '-' : '+'"></span>
                  </button>
                  <div x-show="open3" x-transition class="mt-2 text-lg">
                    Sí, si está documentado correctamente.
                  </div>
                </div>
                <div>
                  <button
                    @click="open4 = !open4"
                    class="flex justify-between items-center w-full text-left font-semibold bg-textonav text-texto text-xl"
                  >
                    <span>¿Qué documentación necesito?</span>
                    <span x-text="open4 ? '-' : '+'"></span>
                  </button>
                  <div x-show="open4" x-transition class="mt-2 text-lg">
                    Certificados médicos, policiales y testigos si hay.
                  </div>
                </div>
              </div>
            </div>
          </details>
        </div>
      </div>
    </div>

    <!-- TARJETA 2 -->
    <div
      class="w-full rounded-xl bg-textonav border-[3px] border-black shadow-[12px_12px_0_#000] transition-all duration-300 hover:-translate-y-[6px] overflow-hidden"
    >
      <div
        class="flex flex-col md:flex-row items-center justify-between gap-6 px-6 py-6"
      >
        <h3
          class="text-texto font-bold text-xl md:w-1/3 uppercase text-center md:text-left"
        >
          Accidentes de tránsito
        </h3>
        <div class="md:w-1/3 flex justify-center">
          <i class="fas fa-car-burst text-9xl text-texto text-center"></i>
        </div>
        <div class="md:w-1/3 flex justify-center md:justify-end w-full">
          <details
            class="w-full bg-textonav text-texto p-4 rounded"
            x-data="{ open: false }"
            @toggle="open = !open"
          >
            <summary
              class="cursor-pointer w-full px-4 py-2 text-center border-[3px] border-black bg-naranja text-textonav font-bold shadow-[3px_3px_0_#000] transition-all duration-300 hover:translate-x-[1.5px] hover:translate-y-[1.5px] hover:shadow-[1.5px_1.5px_0_#000] hover:bg-background hover:text-texto active:translate-x-[3px] active:translate-y-[3px] active:shadow-none uppercase"
            >
              Saber más
            </summary>
            <div class="mt-4 text-sm leading-relaxed space-y-4">
              <div
                x-data="{ open1: false, open2: false, open3: false, open4: false }"
                class="space-y-2"
              >
                <div>
                  <button
                    @click="open1 = !open1"
                    class="flex justify-between items-center w-full text-left font-semibold bg-textonav text-texto text-xl"
                  >
                    <span>¿Qué hacer después de un accidente?</span>
                    <span x-text="open1 ? '-' : '+'"></span>
                  </button>
                  <div x-show="open1" x-transition class="mt-2 text-lg">
                    Contactanos de inmediato y reuní documentación.
                  </div>
                </div>
                <div>
                  <button
                    @click="open2 = !open2"
                    class="flex justify-between items-center w-full text-left font-semibold bg-textonav text-texto text-xl"
                  >
                    <span>¿Qué es un accidente in-itinere?</span>
                    <span x-text="open2 ? '-' : '+'"></span>
                  </button>
                  <div x-show="open2" x-transition class="mt-2 text-lg">
                    Es el que ocurre yendo al trabajo o volviendo.
                  </div>
                </div>
                <div>
                  <button
                    @click="open3 = !open3"
                    class="flex justify-between items-center w-full text-left font-semibold bg-textonav text-texto text-xl"
                  >
                    <span>¿La ART debe responder?</span>
                    <span x-text="open3 ? '-' : '+'"></span>
                  </button>
                  <div x-show="open3" x-transition class="mt-2 text-lg">
                    Sí, si está documentado correctamente.
                  </div>
                </div>
                <div>
                  <button
                    @click="open4 = !open4"
                    class="flex justify-between items-center w-full text-left font-semibold bg-textonav text-texto text-xl"
                  >
                    <span>¿Qué documentación necesito?</span>
                    <span x-text="open4 ? '-' : '+'"></span>
                  </button>
                  <div x-show="open4" x-transition class="mt-2 text-lg">
                    Certificados médicos, policiales y testigos si hay.
                  </div>
                </div>
              </div>
            </div>
          </details>
        </div>
      </div>
    </div>

    <!-- TARJETA 3 -->
    <div
      class="w-full rounded-xl bg-textonav border-[3px] border-black shadow-[12px_12px_0_#000] transition-all duration-300 hover:-translate-y-[6px] overflow-hidden"
    >
      <div
        class="flex flex-col md:flex-row items-center justify-between gap-6 px-6 py-6"
      >
        <h3
          class="text-texto font-bold text-xl md:w-1/3 uppercase text-center md:text-left"
        >
          Despidos
        </h3>
        <div class="md:w-1/3 flex justify-center">
          <i class="fas fa-car-burst text-9xl text-texto text-center"></i>
        </div>
        <div class="md:w-1/3 flex justify-center md:justify-end w-full">
          <details
            class="w-full bg-textonav text-texto p-4 rounded"
            x-data="{ open: false }"
            @toggle="open = !open"
          >
            <summary
              class="cursor-pointer w-full px-4 py-2 text-center border-[3px] border-black bg-naranja text-textonav font-bold shadow-[3px_3px_0_#000] transition-all duration-300 hover:translate-x-[1.5px] hover:translate-y-[1.5px] hover:shadow-[1.5px_1.5px_0_#000] hover:bg-background hover:text-texto active:translate-x-[3px] active:translate-y-[3px] active:shadow-none uppercase"
            >
              Saber más
            </summary>
            <div class="mt-4 text-sm leading-relaxed space-y-4">
              <div
                x-data="{ open1: false, open2: false, open3: false, open4: false }"
                class="space-y-2"
              >
                <div>
                  <button
                    @click="open1 = !open1"
                    class="flex justify-between items-center w-full text-left font-semibold bg-textonav text-texto text-xl"
                  >
                    <span>¿Qué telegramas debo enviar?</span>
                    <span x-text="open1 ? '-' : '+'"></span>
                  </button>
                  <div x-show="open1" x-transition class="mt-2 text-lg">
                    Te guiamos paso a paso con modelos validados.
                  </div>
                </div>
                <div>
                  <button
                    @click="open2 = !open2"
                    class="flex justify-between items-center w-full text-left font-semibold bg-textonav text-texto text-xl"
                  >
                    <span>¿Qué indemnización me corresponde?</span>
                    <span x-text="open2 ? '-' : '+'"></span>
                  </button>
                  <div x-show="open2" x-transition class="mt-2 text-lg">
                    Depende del tiempo trabajado y causa del despido.
                  </div>
                </div>
                <div>
                  <button
                    @click="open3 = !open3"
                    class="flex justify-between items-center w-full text-left font-semibold bg-textonav text-texto text-xl"
                  >
                    <span>¿Puedo reclamar si renuncié?</span>
                    <span x-text="open3 ? '-' : '+'"></span>
                  </button>
                  <div x-show="open3" x-transition class="mt-2 text-lg">
                    Sí, si fue forzada o bajo presión indebida.
                  </div>
                </div>
                <div>
                  <button
                    @click="open4 = !open4"
                    class="flex justify-between items-center w-full text-left font-semibold bg-textonav text-texto text-xl"
                  >
                    <span>¿Qué pruebas necesito?</span>
                    <span x-text="open4 ? '-' : '+'"></span>
                  </button>
                  <div x-show="open4" x-transition class="mt-2 text-lg">
                    Documentación laboral, recibos, y testigos si hay.
                  </div>
                </div>
              </div>
            </div>
          </details>
        </div>
      </div>
    </div>

    <!-- TARJETA 4 -->
    <div
      class="w-full rounded-xl bg-textonav border-[3px] border-black shadow-[12px_12px_0_#000] transition-all duration-300 hover:-translate-y-[6px] overflow-hidden"
    >
      <div
        class="flex flex-col md:flex-row items-center justify-between gap-6 px-6 py-6"
      >
        <h3
          class="text-texto font-bold text-xl md:w-1/3 uppercase text-center md:text-left"
        >
          Derecho Penal
        </h3>
        <div class="md:w-1/3 flex justify-center">
          <i class="fas fa-car-burst text-9xl text-texto text-center"></i>
        </div>
        <div class="md:w-1/3 flex justify-center md:justify-end w-full">
          <details
            class="w-full bg-textonav text-texto p-4 rounded"
            x-data="{ open: false }"
            @toggle="open = !open"
          >
            <summary
              class="cursor-pointer w-full px-4 py-2 text-center border-[3px] border-black bg-naranja text-textonav font-bold shadow-[3px_3px_0_#000] transition-all duration-300 hover:translate-x-[1.5px] hover:translate-y-[1.5px] hover:shadow-[1.5px_1.5px_0_#000] hover:bg-background hover:text-texto active:translate-x-[3px] active:translate-y-[3px] active:shadow-none uppercase"
            >
              Saber más
            </summary>
            <div class="mt-4 text-sm leading-relaxed space-y-4">
              <div
                x-data="{ open1: false, open2: false, open3: false, open4: false }"
                class="space-y-2"
              >
                <div>
                  <button
                    @click="open1 = !open1"
                    class="flex justify-between items-center w-full text-left font-semibold bg-textonav text-texto text-xl"
                  >
                    <span>¿Cuántos años necesito?</span>
                    <span x-text="open1 ? '-' : '+'"></span>
                  </button>
                  <div x-show="open1" x-transition class="mt-2 text-lg">
                    Generalmente 30 años de aportes y edad mínima.
                  </div>
                </div>
                <div>
                  <button
                    @click="open2 = !open2"
                    class="flex justify-between items-center w-full text-left font-semibold bg-textonav text-texto text-xl"
                  >
                    <span>¿Puedo jubilarme sin aportes?</span>
                    <span x-text="open2 ? '-' : '+'"></span>
                  </button>
                  <div x-show="open2" x-transition class="mt-2 text-lg">
                    Sí, con moratorias según tu situación.
                  </div>
                </div>
                <div>
                  <button
                    @click="open3 = !open3"
                    class="flex justify-between items-center w-full text-left font-semibold bg-textonav text-texto text-xl"
                  >
                    <span>¿Qué es una pensión?</span>
                    <span x-text="open3 ? '-' : '+'"></span>
                  </button>
                  <div x-show="open3" x-transition class="mt-2 text-lg">
                    Es el beneficio que recibe un familiar del titular
                    fallecido.
                  </div>
                </div>
                <div>
                  <button
                    @click="open4 = !open4"
                    class="flex justify-between items-center w-full text-left font-semibold bg-textonav text-texto text-xl"
                  >
                    <span>¿Cuánto demora el trámite?</span>
                    <span x-text="open4 ? '-' : '+'"></span>
                  </button>
                  <div x-show="open4" x-transition class="mt-2 text-lg">
                    Varía según el expediente, pero hacemos seguimiento.
                  </div>
                </div>
              </div>
            </div>
          </details>
        </div>
      </div>
    </div>

    <!-- TARJETA 5 -->
    <div
      class="w-full rounded-xl bg-textonav border-[3px] border-black shadow-[12px_12px_0_#000] transition-all duration-300 hover:-translate-y-[6px] overflow-hidden"
    >
      <div
        class="flex flex-col md:flex-row items-center justify-between gap-6 px-6 py-6"
      >
        <h3
          class="text-texto font-bold text-xl md:w-1/3 uppercase text-center md:text-left"
        >
          Sucesiones
        </h3>
        <div class="md:w-1/3 flex justify-center">
          <i class="fas fa-car-burst text-9xl text-texto text-center"></i>
        </div>
        <div class="md:w-1/3 flex justify-center md:justify-end w-full">
          <details
            class="w-full bg-textonav text-texto p-4 rounded"
            x-data="{ open: false }"
            @toggle="open = !open"
          >
            <summary
              class="cursor-pointer w-full px-4 py-2 text-center border-[3px] border-black bg-naranja text-textonav font-bold shadow-[3px_3px_0_#000] transition-all duration-300 hover:translate-x-[1.5px] hover:translate-y-[1.5px] hover:shadow-[1.5px_1.5px_0_#000] hover:bg-background hover:text-texto active:translate-x-[3px] active:translate-y-[3px] active:shadow-none uppercase"
            >
              Saber más
            </summary>
            <div class="mt-4 text-sm leading-relaxed space-y-4">
              <div
                x-data="{ open1: false, open2: false, open3: false, open4: false }"
                class="space-y-2"
              >
                <div>
                  <button
                    @click="open1 = !open1"
                    class="flex justify-between items-center w-full text-left font-semibold bg-textonav text-texto text-xl"
                  >
                    <span>¿Qué necesito para divorciarme?</span>
                    <span x-text="open1 ? '-' : '+'"></span>
                  </button>
                  <div x-show="open1" x-transition class="mt-2 text-lg">
                    Solo tu DNI y voluntad de hacerlo.
                  </div>
                </div>
                <div>
                  <button
                    @click="open2 = !open2"
                    class="flex justify-between items-center w-full text-left font-semibold bg-textonav text-texto text-xl"
                  >
                    <span>¿Cómo se tramita una sucesión?</span>
                    <span x-text="open2 ? '-' : '+'"></span>
                  </button>
                  <div x-show="open2" x-transition class="mt-2 text-lg">
                    Con actas, DNI y partidas, lo iniciamos en juzgado.
                  </div>
                </div>
                <div>
                  <button
                    @click="open3 = !open3"
                    class="flex justify-between items-center w-full text-left font-semibold bg-textonav text-texto text-xl"
                  >
                    <span>¿Quién se queda con la tenencia?</span>
                    <span x-text="open3 ? '-' : '+'"></span>
                  </button>
                  <div x-show="open3" x-transition class="mt-2 text-lg">
                    Se analiza lo mejor para el menor.
                  </div>
                </div>
                <div>
                  <button
                    @click="open4 = !open4"
                    class="flex justify-between items-center w-full text-left font-semibold bg-textonav text-texto text-xl"
                  >
                    <span>¿Puedo reclamar alimentos?</span>
                    <span x-text="open4 ? '-' : '+'"></span>
                  </button>
                  <div x-show="open4" x-transition class="mt-2 text-lg">
                    Sí, incluso de forma retroactiva si corresponde.
                  </div>
                </div>
              </div>
            </div>
          </details>
        </div>
      </div>
    </div>
  </div>
</section>
